@font-face {
  font-family: Montserrat;
  src: url("../src/assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@import "tailwindcss";

@theme {
  --font-Montserrat: Montserrat, "sans-serif";
}


